/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set a default font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: white;
}

ul,
li {
  padding: 0;
}
